/* tile_style.css */

.falling-tile {
  position: absolute;
  font-size: 1.5rem;
  font-weight: 500;
  width: 3rem;
  height: 3rem;
  text-transform: uppercase;
  background-color: rgb(205, 199, 116);
  border: none;
  border-radius: 3px; /* Add border-radius for rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow for 3D effect */
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)); /* Add glossy effect */
  animation: fall 2s linear infinite; /* Falling animation */
}

@keyframes fall {
  from {
      transform: translateY(-100%);
  }
  to {
      transform: translateY(100vh); /* Falling from top to bottom of the viewport */
  }
}

.letter-button {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 3px;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(255, 253, 226);
    border: none;
    border-radius: 3px; /* Add border-radius for rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow for 3D effect */
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)); /* Add glossy effect */
  }
  
  .letter-button:hover {
    background-color: rgb(176, 231, 255); /* Change background color on hover */
  }